#container-div {
    position: absolute;
    bottom: 0;
    width: 90%;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    font: 20px 'Courier New';
}

#text-div {
    padding: 10px;
}

#button-div {
    padding: 10px;
}

button {
    font: inherit;
}